body {
	background-color: #444;
	color: white;
	font-size: 18px
}
button {
	text-align: center;
	width: 55px;
	height: 45px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	margin: 2px 0 2px 0;
	border:none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
#one-div-to-rule-them-all {

}
#container {
		text-align: center;
		margin: 45px auto;
		border: 4px solid white;
		border-radius: 15px;
		width: 300px;
		padding-bottom: 25px;

}
#zero {
	width: 115px;
}
#history {
	height: 45px;
	width: 350px;
	font-size: 20px;
	color: #fff;
}
#display-field {
	height: 30px;
	width: 235px;
	font-size: 30px;
	color: #fff
	margin-top: 25px;
	margin: auto;
	text-align:left;
	padding: 20px 0 20px 15px;
}
#big-div {
	display: inline-block;
}
#number-buttons {
	width: 175px;
	clear: both;
}
#symbol-buttons {
	width: 60px;
	display: inline-block;
}
#clr-button {
	float:left;
}
.operator {
	background-color: #cc9900
}
button.equals {
	background-color: #009933;
}
