body {
	background-color: #444;
	color: white;
	font-size: 18px
}
button {
	text-align: center;	
	width: 55px;
	height: 45px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	margin: 2px 0 2px 0;
	border:none;
}
ul {
	padding-left: 0;
}
li {
	list-style: none;
}
#past-math {
	width: 235px;
	height: 45px;
	background-color: #fff;
}
#zero {
	width: 115px;
}
#history {
	height: 45px;
	width: 350px;
	font-size: 20px;
	color: #fff;
}
#display-field {
	height: 45px;
	width: 350px;
	font-size: 22px;
	color: #fff
	margin-top: 25px;
}
#big-div {
	display: inline-block;
}
#number-buttons {
	width: 175px;
}
#symbol-buttons {
	width: 60px;
	display: inline-block;
}
#clr-button {
	float: left;
}
.operator {
	background-color: #cc9900
}
button.equals {
	background-color: #009933;
}